.container {
  margin-top: 30px;
  background: #ffe4f2;
  padding: 20px;
  border-radius: 15px;
}

.titulo {
  font-size: 0.9rem;
  margin: 0 0 10px 0;
}

.chartBox {
  width: 450px;
  height: 250px;
}